<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <filter>
  	<filter-name>login</filter-name>
  	<filter-class>authentication.LoginFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>logout</filter-name>
  	<filter-class>accounts.LogoutFilter</filter-class>
  </filter>
  
  <!-- Login filter mappings -->
  <filter-mapping>
  	<filter-name>login</filter-name>
  	<url-pattern>/dashboard.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>login</filter-name>
  	<url-pattern>/profile.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>login</filter-name>
  	<url-pattern>/profile</url-pattern>
  </filter-mapping>
  <!-- Logout filter mappings -->
  <filter-mapping>
  	<filter-name>logout</filter-name>
  	<url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>logout</filter-name>
  	<url-pattern>/login.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>logout</filter-name>
  	<url-pattern>/register</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>logout</filter-name>
  	<url-pattern>/register.html</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
	<welcome-file>/index.html</welcome-file>
  </welcome-file-list>
  
  <error-page>
      <error-code>404</error-code>
      <location>/notfound.html</location>
  </error-page>

</web-app>
